<style>
        .transparent {
            opacity: 0.65;
        }
        div#pokerhands{
            text-align: center;
        }
        div#pokerhands img {
            max-height: 200px;
            height: 100%;
            width: auto;
            margin: 10px;
            border: white solid 2px;
            background-color: white;
        }
        #reload {
            padding: 10px;
            /* margin-left: 40px; */
            margin-top: 100px;
            margin-right: 80px;
            background-color: rgba(65, 123, 90, 0.925);
            border: 1px white solid;
            border-radius: 7px 7px 7px 0px;
            font-family: 'Muli', sans-serif;
            color: white;
            text-align: center;
            float: right;
            font-size: 20px;
            width: 100px;
            text-decoration: underline;
        }
        #reload:focus, #reload:active {
            background-color: #417B5A;
            border: 2px white solid;
            outline: none;
        }
        #reload:hover {
            background-color: #417B5A;
            text-decoration: overline;
        }
        h1 {
            text-align: center;
            font-size: 4vw;
        }
        h1 span {
            background-color: rgba(255, 255, 255, 0.8);
            font-family: 'Muli', sans-serif;
            padding: 10px;
            text-align: center;
        }
        body {
            background-color:grey;
        }
    </style>